.dropzone {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  
  position: relative;

  input {
    all: unset;
    
    position: absolute;
    width: 100%;
    inset: 0;
    opacity: 0;
  }

  input:hover + label,
  input:focus + label {
    background-color: var(--shape-hover);
  }

  label {
    display: flex;
    align-items: center;
    gap: .8rem;

    color: var(--text-title);
    font-weight: 600;
    padding: 1rem 1.2rem;
    border-radius: .8rem;
    background-color: var(--shape-button);
  }
}