header {
  text-align: center;
  
  & > * {
    width: fit-content;
    max-width: 680px;
    margin-inline: auto;
  }

  .avatar {
    position: relative;
    margin-bottom: 56px;

    img {
      border-radius: 50%;
      width: 88px;
      height: 88px;
      
      padding: 4px;
  
      border: 2px solid var(--red);
    }
  
    .ph-code {
      position: absolute;
      color: var(--green);
      font-size: 32px;
      bottom: 0;
      right: 0;

      padding-inline: 4px;
      border-radius: 50%;
      background-color: var(--gray-200);
    }
  }

  span {
    margin-bottom: 8px;
  }

  h1 {
    margin-bottom: 20px;
  }
}