#intro {
  padding: 120px 164px 58px;
  background: url(/assets/backgrounds/Background_Intro.png) no-repeat center/cover;
  
  .info {
    margin-bottom: 96px;
  
    .tags {
      display: flex;
      gap: 16px;
      justify-content: center;
      margin-top: 80px;
      flex-wrap: wrap;
  
      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        
        padding: 8px 16px;
        
        background-color: var(--gray-300);
        border-radius: 999px;
      }
    }
  }

  &>i {
    font-size: 32px;
    color: var(--gray-400);
    margin: 0 50%;
  }
}

#projects {
  padding: 72px 120px 144px;
  background-color: var(--gray-200);

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    max-width: 1040px;
    
    margin: 56px auto 0;

    .card {
      padding: 12px;

      height: fit-content;

      background-color: var(--gray-300);
      border-radius: 12px;

      transition: linear .3s;

      img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
      }

      h4 {
        margin-bottom: 8px;
      }
    }

    .card:hover{
      border: 2px solid var(--gray-400);
      transform: scale(1.05);
    }
  }
}

#services {
  padding: 88px 120px 120px;
  background-color: var(--gray-100);

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    max-width: 888px;

    margin: 56px auto 0;

    .card {
      padding: 20px;
      border-radius: 12px;
      border: 2px solid var(--gray-200);
      transition: ease-in .3s;

      i {
        font-size: 48px;
      }

      h3 {
        margin-top: 20px;
      }
    }

    .card:hover {
      border-color: var(--gray-400);
      transform: scale(1.05);
    }
  }
}

#contact {
  padding: 128px 120px 200px;
  background: url(/assets/backgrounds/Background_Contacts.png) no-repeat center/cover;

  header p {
    margin-top: 8px;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    margin: 48px auto 0;
    max-width: 400px;

    .link {
      text-decoration: none;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      background-color: var(--gray-300);
      border-radius: 8px;

      i {
        font-size: 28px;
        color: var(--gray-400);
      }

      p {
        font-weight: 500;
        width: 100%;
      }

      i.ph-arrow-up-right {
        color: var(--blue);
      }
    }

    .link:hover {

      border: 1px solid var(--blue);

      i {
        color: var(--blue);

      }
    }
  }
}