.toggle-container {
  .switch {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;

    margin-top: 1.2rem;

    height: 32px;

    input {
      all: unset;
      display: none;
    }

    .slider {
      position: absolute;
      inset: 0;
      width: 64px;
      
      cursor: pointer;
      
      background-color: var(--input-base);
      
      border: 1px solid var(--input-stroke);
      border-radius: 3rem;
      
      transition: background-color .4s;
    }
    
    .slider::before {
      content: '';
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      top: 3px;
      left: 3px;
      background-color: var(--input-stroke);
      border-radius: 50%;
      transition: transform 0.4s;
    }

    #mode-text {
      position: absolute;
      left: 7.4rem;
      color: transparent;
      transition: color .4s;

      &::before {
        content: "Escuro"; /* Define o texto inicial como "Escuro" */
        color: var(--text-body);
      }

      &::after {
        content: "Claro";
        display: none;
        color: var(--text-body);
      }
    }

    input:checked  {
      & + .slider {
        background-color: var(--brand-light);

        &::before {
          transform: translateX(32px);
          background-color: var(--text-title);
        }
      }

      & ~ #mode-text {
        &::after {
          display: inline-block;
        }

        &::before {
          display: none;
        }
      }
    } 
  }
}

.terms-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .4rem;

  font: var(--text-sm);
  
  padding-top: 4rem;
  margin-top: 4.8rem;

  border-top: 1px solid var(--input-stroke);

  strong {
    font-weight: 600;
    color: var(--brand-light);
    text-decoration: underline;
  }
}

.checkbox-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1.4rem;


  input {
    all: unset;
    width: 2rem;
    height: 2rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .4rem;

    &:checked {
      background: url(../../assets/icons/check.svg) center / cover no-repeat;
      border-color: var(--brand-light);
    }
  }
}
